<header th:fragment="header">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <span class="navbar-brand">
            Notes
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link p-3 active new-or-update" th:href="@{/notes/new}">New Note</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-3 filterLink" href="#">Filter</a>
                </li>
            </ul>
        </div>
        <a class="nav-item mr-3 nav-link p-3 logout" th:href="@{/logout}">Log Out</a>
    </nav>

</header>