.navbar {
  padding: 0 10px;
}

*.icon-dark {
  color: grey;
}

.message {
  position: absolute;
  top: 40px;
  right:5px;
}

.filter {
  position: relative;
}

.filter input {
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.filter input:focus {
  box-shadow: none;
  border: 1px solid grey;
}

.filter .fa-search {
  position: absolute;
  top: 12px;
  left: 10px;
}

.filter button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  background: grey;
}

.filterBtns {
  margin: 5px;
  width: 100%;
}

.container-fluid {
  margin: 10px;
}

.container-main {
  display: grid;
  grid-template-columns: 0.25fr 2fr;
  grid-gap: 100px;
  width: 100%;
  margin-top: 25px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 35%;
}

.container-filter {
  margin-right: 50px;
}

.container-filter > .card {
  margin: 10px;
  border: 1px solid gold;
  width: 350px;
}

.child {
  flex: 50%;
  padding: 10px;
}

.longtext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-note {
  width: 400px;
}

.navbar-brand {
  margin-left: 20px;
}

.notes {
  width: calc(100% - 20%);
}

.notes-label {
  padding: 10px;
  border-top-color: lightgrey;
  background-color: gold;
  text-align: right;
  color: white;
  height: 40px;
}

.note-form {
  max-width: 550px;
  margin: 0 auto;
}

.logout {
  color: white;
}

.quick-access {
  width: 200px;
}

.quick-access > .card {
  margin-top: 10px;
}

.quick-access-top {
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.quick-access-labels {
  padding: 5px;
  background-color: grey;
  border-radius: 5px;
  text-align: center;
}

.fa-pen-to-square,
.fa-trash-can:before {
  color: blue;
}

.side-buttons {
  text-align: right;
}

textarea.form-control {
  height: 150px;
}

.ui-autocomplete {
  background-color: white;
  border: 1px solid lightgrey;
  width: 376px !important;
}
