<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Note Taking Application</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">

    <div class="d-flex container-main">

        <aside class="h-100 min-vh-100 quick-access">
            <div class="card">
                <div class="quick-access-top">
                    <h5>Labels Quick Access</h5>
                </div>

                <div class="quick-access-labels">
                    <div th:if="${labelList.size() > 0}" th:each="label: ${labelList}">
                        <span class="quick-access-label">[[${label}]]</span>
                    </div>
                    <div th:unless="${labelList.size() > 0}">
                        <span>No labels found!</span>
                    </div>
                </div>
            </div>
        </aside>

        <main class="flex-grow-1 notes">
            <div th:if="${noteList.size() > 0}" class="row mx-0 flex-wrap">
                <div th:each="note : ${noteList}" class="container-filter">
                    <div class="card">
                        <div class="d-flex container-notes">
                            <div class="child longtext">
                                <div>
                                    <span><strong>[[${note.title}]]</strong></span>
                                </div>
                                <div>
                                    <p>[[${note.content}]]</p>
                                </div>
                            </div>
                            <div class="child side-buttons">
                                <div class="child">
                                    <a th:href="@{'/notes/edit/' + ${note.id}}" title="Edit this note"
                                       class="fa-regular fa-pen-to-square icon-dark"></a>
                                </div>
                                &nbsp;
                                <div class="child">
                                    <a th:href="@{'/notes/delete/' + ${note.id}}" th:noteTitle="${note.title}" id="deleteBtn"
                                       title="Delete this note" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                                </div>
                            </div>
                        </div>
                        <div class="notes-label longtext">
                            <span>[[${note.label}]]</span>
                        </div>
                    </div>
                </div>
            </div>

            <div th:unless="${noteList.size() > 0}">
                <h4>No notes found!</h4>
            </div>

        </main>

    </div>
</div>

<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-center" id="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter Notes</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row d-flex">
                    <div class="col-lg-12 mt-2">
                        <div class="filter">
                            <i class="fa fa-search"></i>
                            <input id="filterKeyword" type="search" name="keyword" th:value="${keyword}" required class="form-control"
                                   placeholder="Search">
                        </div>
                    </div>
                    <div class="text-center filterBtns">
                        <button id="filterBtn" type="submit" class="btn btn-info">Apply Filter</button>
                        <button id="resetBtn" class="btn btn-info">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:replace="notetaking :: notetaking"></script>

</body>

</html>