<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Note Taking Application</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">

    <div class="my-3">
        <form class="note-form" th:action="@{/notes/save}" th:method="post" enctype="multipart/form-data" th:object="${note}">

            <div class="p-3">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="title">Title</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{title}" class="form-control" id="title" />
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="content">Content</label>
                    <div class="col-sm-9">
                        <textarea th:field="*{content}" class="form-control" id="content" />
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="content">Label</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{label}" class="form-control" id="label" />
                        <div th:if="${message}">
                            <div class="alert alert-warning">[[${message}]]</div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
                    <input type="button" value="Cancel" id="cancelBtn" class="btn btn-secondary btn-sm" />
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:replace="notetaking :: notetaking"></script>

</body>

</html>